<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/nav.ejs')%>
    <div class="container">
      <h1>Create a New Store</h1>

      <form action="/stores" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label"> Name </label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Just Protein"
          />
        </div>
        <div class="mb-3">
          <label for="Description" class="form-label"> Description </label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="owner" class="form-label">Owner</label>
          <input
            type="text"
            class="form-control"
            id="owner"
            name="owner"
            placeholder="John Doe"
          />
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <input
            type="text"
            class="form-control"
            id="category"
            name="category"
            placeholder="'Clothing,' 'Electronics,' 'Restaurants,' 'Beauty,' etc"
          />
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Phone Number</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="08012345678"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="name@example.com"
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            placeholder="St. Matthew Street"
          />
        </div>

        <div class="mb-3">
          <select
            class="form-select form-select-sm mb-3"
            aria-label="Large select example"
            onchange="selectLGA(this)"
            id="state"
            name="state"
          >
            <option selected>Select State</option>
          </select>

          <select
            class="form-select form-select-sm"
            aria-label="Small select example"
            id="lga"
            name="lga"
          >
            <option selected>-Select LGA-</option>
          </select>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-secondary btn-sm mx-auto">
            Create Store
          </button>
        </div>
      </form>

      <%- include('../partials/footer.ejs')%>
    </div>

    <script>
      //Fetch all States
      fetch("https://nga-states-lga.onrender.com/fetch")
        .then((res) => res.json())
        .then((data) => {
          let x = document.getElementById("state");
          for (let index = 0; index < Object.keys(data).length; index++) {
            let option = document.createElement("option");
            option.text = data[index];
            option.value = data[index];
            x.add(option);
          }
        });
      //Fetch Local Goverments based on selected state
      const selectLGA = (target) => {
        var state = target.value;
        fetch("https://nga-states-lga.onrender.com/?state=" + state)
          .then((res) => res.json())
          .then((data) => {
            let x = document.getElementById("lga");

            let select = document.getElementById("lga");
            let length = select.options.length;
            for (i = length - 1; i >= 0; i--) {
              select.options[i] = null;
            }
            for (let index = 0; index < Object.keys(data).length; index++) {
              var option = document.createElement("option");
              option.text = data[index];
              option.value = data[index];
              x.add(option);
            }
          });
      };

      module.exports = selectLGA;
    </script>
  </body>
</html>
